.main-column-i.wrapped
  = render 'pages/event/event_header'
  = render 'components/organizer'
  = render 'components/school_contacts'
  .line
  .event-description-wrapper.row
    .col-10.col-xs-4
      = image_tag('stubs/event/event1.jpg')
    .description-wrapper.col-10.col-xs-6
      = render 'components/tags'
      .description-text
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
        %p Placeat.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
      = render 'components/social'
  .additional-information-wrapper.col-10
    = render 'components/price'
    = render 'components/school_news'
    = render 'components/comments'
