.left-column-i.wrapped
  = render 'pages/event/event_header'
  = render 'components/school_contacts'
  = render 'components/organizer'
  .line
  .school-description-wrapper.row
    = render 'components/school_photo_block'
    .description-wrapper.col-10.col-xs-6
      = render 'components/tags'
      .description-text
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
        %p Placeat.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
      = render 'components/social'
  .additional-information-wrapper.col-10
    = render 'components/price'
    = render 'components/school_news'
    = render 'components/comments'
