.events-wrapper
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news1.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news2.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news3.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news4.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news5.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news6.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news7.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .events-i
    .events-i-photo
      = image_tag('stubs/news/news8.jpg')
    .events-i-name Salsa вечер
    .events-i-date 20 сентября
    .events-i-time 20:00 до 23:00
  .dummy
  .dummy
  .dummy
  .dummy