%h3.aligne-center Организаторы мероприятия:
.contacts-wrapper.col-10
  = image_tag('stubs/event/logo1.png')
  = image_tag('stubs/event/logo1.png')
  = image_tag('stubs/event/logo1.png')
  = image_tag('stubs/event/logo1.png')
  = image_tag('stubs/event/logo1.png')
  = image_tag('stubs/event/logo1.png')
.line