.picture-block-wrapper.col-7.col-xs-3
  =image_tag("stubs/school/news-1.jpg", class: 'school-img')
  .photo-gallery.owl-carousel
    %div
      = image_tag('stubs/carousel/carousel1.jpg')
    %div
      = image_tag('stubs/carousel/carousel3.jpg')
    %div
      = image_tag('stubs/carousel/carousel4.jpg')
    %div
      = image_tag('stubs/carousel/carousel1.jpg')
    %div
      = image_tag('stubs/carousel/carousel3.jpg')