.picture-block-wrapper.col-10.col-xs-4
  =image_tag("stubs/school/main.jpg", class: 'school-img')
  .photo-gallery.owl-carousel
    %div
      = image_tag('stubs/carousel/carousel1.jpg')
    %div
      = image_tag('stubs/carousel/carousel3.jpg')
    %div
      = image_tag('stubs/carousel/carousel4.jpg')
    %div
      = image_tag('stubs/carousel/carousel1.jpg')
    %div
      = image_tag('stubs/carousel/carousel3.jpg')