.school-list-wrapper.col-8
  .school-list-wrapper-border
    .school-list-header.col-10
      %h3.col-8 Найдено 24 школы
      %ul.col-2
        %li.show-map
          %a Карта
        %li.show-list.active
          %a Список
    .school-list
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
      .list-i
        .col-3
          = image_tag('stubs/school_list/logo2.jpg')
        .col-7
          .school-name
            %a{href: 'http://192.168.1.105:3000/school'}
              %h2 Cubana Dance
          %span.review 5 отзывов
          .rating
            = render 'components/rating'
          .description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
  %ul.pagination
    %li.active 1
    %li 2
    %li 3
    %li 4
    %li Следующая
    %li Последняя
