.list.col-2
  .right-column-i
    = image_tag('stubs/sets/coucher1.PNG')
  .right-column-i
    = image_tag('stubs/sets/coucher1.PNG')
  .right-column-i
    = image_tag('stubs/sets/coucher1.PNG')
  .right-column-i
    = image_tag('stubs/sets/coucher1.PNG')
  .right-column-i
    = image_tag('stubs/sets/coucher1.PNG')


