.school-list.col-4
  %h2 Найденно 24 школы
  .list-i
    .col-3
      = image_tag('stubs/school_list/logo2.jpg')
    .col-7
      .school-name
        %a{href: 'http://192.168.1.105:3000/school'}
          %h2 Cubana Dance
      %span 5 отзывов
      .rating
        = render 'components/rating'
      %span (35 оценок)
      .description
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
  .list-i
    .col-3
      = image_tag('stubs/school_list/logo2.jpg')
    .col-7
      .school-name
        %a{href: 'http://192.168.1.105:3000/school'}
          %h2 Cubana Dance
      %span 5 отзывов
      .rating
        = render 'components/rating'
      %span (35 оценок)
      .description
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
  .list-i
    .col-3
      = image_tag('stubs/school_list/logo2.jpg')
    .col-7
      .school-name
        %a{href: 'http://192.168.1.105:3000/school'}
          %h2 Cubana Dance
      %span 5 отзывов
      .rating
        = render 'components/rating'
      %span (35 оценок)
      .description
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.
  .list-i
    .col-3
      = image_tag('stubs/school_list/logo2.jpg')
    .col-7
      .school-name
        %a{href: 'http://192.168.1.105:3000/school'}
          %h2 Cubana Dance
      %span 5 отзывов
      .rating
        = render 'components/rating'
      %span (35 оценок)
      .description
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum.