.album.col-10
  %h2 В альбоме 7 фотографий
  .line
  .album_wrapper
    .album-i
      = image_tag('stubs/photoreport/2.jpg')
    .album-i
      = image_tag('stubs/photoreport/3.jpg')
    .album-i
      = image_tag('stubs/photoreport/4.jpg')
    .album-i
      = image_tag('stubs/photoreport/5.jpg')
    .album-i
      = image_tag('stubs/photoreport/6.jpg')
    .album-i
      = image_tag('stubs/photoreport/7.jpg')
    .album-i
      = image_tag('stubs/photoreport/8.jpg')
    .album-i
      = image_tag('stubs/photoreport/9.jpg')
    .album-i
      = image_tag('stubs/photoreport/10.jpg')
    .album-i
      = image_tag('stubs/photoreport/11.jpg')
    .album-i
      = image_tag('stubs/photoreport/12.jpg')
    .album-i
      = image_tag('stubs/photoreport/13.jpg')
    .album-i
      = image_tag('stubs/photoreport/14.jpg')
    .album-i
      = image_tag('stubs/photoreport/15.jpg')
    .album-i
      = image_tag('stubs/photoreport/16.jpg')
    .album-i
      = image_tag('stubs/photoreport/17.jpg')
    .album-i
      = image_tag('stubs/photoreport/18.jpg')
    .dummy
    .dummy
    .dummy
    .dummy
    .dummy