.events-header.row
  .events-header-place.col-10.col-xxs-4.col-md-5
    %h2 Мероприятия&nbsp;в
    %select{name: 'place'}
      %option Днепропетровске
      %option Украине
      %option Мире
  %ul.events-type.col-10.col-xxs-4.col-md-4
    %li.active
      %a Сальсатеки
    %li
      %a Вечеринки
    %li
      %a Фестивали
    %li
      %a Все
  .calendar.col-10.col-xxs-2.col-md-1
    = image_tag('icons/calender-icon.png')
    %div
      %span Выбрать дату
.line
  .events-wrapper
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news1.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news2.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news3.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news4.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news5.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news6.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news7.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .events-i
      .events-i-photo
        = image_tag('stubs/news/news8.jpg')
      .events-i-name Salsa вечер
      .events-i-date 20 сентября
      .events-i-time 20:00 до 23:00
    .dummy
    .dummy
    .dummy
    .dummy
.clear
.show-more
  %span Больше событий
.clear