.left-column.col-7.col-xs-5
  .left-column-i.banner.no-stripe
    %figure
  .left-column-i.events
    .events-header.row
      .events-header-place.col-7.col-xxs-3.col-md-3
        %h1 Мероприятия&nbsp;в
        %select{name: 'place'}
          %option Днепропетровске
          %option Украине
          %option Мире
      %ul.events-type.col-7.col-xxs-3.col-md-3
        %li.active
          %span Сальсатеки
        %li
          %span Вечеринки
        %li
          %span Фестивали
        %li
          %span Все
      .calendar.col-7.col-xxs-1
        = image_tag('icons/calender-icon.png')
        %div
          %span Выбрать дату
    .line
      .events-wrapper
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news1.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news2.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news3.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news4.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news5.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news6.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news7.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .events-i
          .events-i-photo
            = image_tag('stubs/news/news8.jpg')
          .events-i-name Salsa вечер
          .events-i-date 20 сентября
          .events-i-time 20:00 до 23:00
        .dummy
        .dummy
        .dummy
        .dummy
    .clear
    .show-more
      %span Больше событий
    .clear
  .left-column-i.news
    %h1 Последние новости
    .line
    .owl-carousel
      %div
        = image_tag('stubs/carousel/carousel1.jpg')
      %div
        = image_tag('stubs/carousel/carousel3.jpg')
      %div
        = image_tag('stubs/carousel/carousel4.jpg')
      %div
        = image_tag('stubs/carousel/carousel1.jpg')
      %div
        = image_tag('stubs/carousel/carousel3.jpg')
      %div
        = image_tag('stubs/carousel/carousel1.jpg')
      %div
        = image_tag('stubs/carousel/carousel3.jpg')
      %div
        = image_tag('stubs/carousel/carousel1.jpg')
      %div
        = image_tag('stubs/carousel/carousel3.jpg')
  .left-column-i.salsa-info
    %h1 В мире сальсы
    .line
    %ul.salsa-info-ul
      %li.hst
        %h2 История сальсы
        %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
      %li.mw
        %h2 Фильмы о сальсе
        %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
      %li.vcblr
        %h2 Сальса - словарь
        %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
      %li.stl
        %h2 Стили сальсы
        %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
      %li.vd
        %h2 Обучающее видио
        %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
      %li.mstrs
        %h2 Сальса-музыка
        %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
    .clear