.bookmarks.col-8
  .tag.col-10
    .tag-wrapper.col-10
      %h3 Всего 35 закладок
      %ul
        %li Мероприятия
        %li Школы
        %li Фотоотчёты
        %li Статьи
  .bookmarks-wrapper.bookmarks-event
    .bookmarks-event-go
      %h3 Мероприятия, на которые я пойду
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .dummy
      .dummy
      .dummy
      .dummy
      .dummy
      .dummy
    .bookmarks-event-all
      %h3 Все мероприятия
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .bookmarks-i
        = image_tag('stubs/event/event1.jpg')
        .overlay
          %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
      .dummy
      .dummy
      .dummy
      .dummy
      .dummy
      .dummy