.bookmarks.col-8
  .tag.col-10
    .tag-wrapper.col-10
      %h3 Всего 35 закладок
      %ul
        %li Мероприятия
        %li Школы
        %li Фотоотчёты
        %li Статьи
  .bookmarks-wrapper.bookmarks-school
    .bookmarks-i
      = image_tag('stubs/school_list/logo1.png')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo2.jpg')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo3.jpg')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo4.png')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo1.png')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo2.jpg')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo3.jpg')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .bookmarks-i
      = image_tag('stubs/school_list/logo4.png')
      .overlay
        %p Кубана Денс. Самая лучшая школа сальсы в Днепропетровске и за его пределами! Спешите посетить, спешите потанцевать олялял!!!
    .dummy
    .dummy
    .dummy
    .dummy
    .dummy
    .dummy