- content_for(:main_wrapper_class, 'salsa-all')

.row.wrapped
  = render 'pages/cabinet/search_menu'
  = render 'pages/cabinet/bookmarks'
  = render 'pages/cabinet/viewed'
  = render 'pages/cabinet/rewiew'
  = render 'pages/cabinet/administration'
